// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-background-color: #323639;

  --ion-text-color: #ffffff;

  --ion-border-color: #202124;

  --ion-tab-bar-background: #202124;
  --ion-tab-bar-color-activated: #ffffff;

  --ion-color-primary: #eeae15;
  --ion-color-primary-rgb: 32, 33, 36;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d19912;
  --ion-color-primary-tint: #f0b62c;

  --ion-color-secondary: #3e3e40;
  --ion-color-secondary-rgb: 62, 62, 64;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #373738;
  --ion-color-secondary-tint: #515153;

  --ion-color-tertiary: #6e6d6f;
  --ion-color-tertiary-rgb: 110, 109, 111;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #616062;
  --ion-color-tertiary-tint: #7d7c7d;

  --ion-color-medium: #6e6d6f;
  --ion-color-medium-rgb: 110, 109, 111;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #616062;
  --ion-color-medium-tint: #7d7c7d;

  --ion-color-success: #75cc53;
  --ion-color-success-rgb: 117, 204, 83;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #67b449;
  --ion-color-success-tint: #83d164;
  --ion-color-tertiary-shade: #616062;
  --ion-color-tertiary-tint: #7d7c7d;

  --ion-color-warning: #e46b1b;
  --ion-color-warning-rgb: 255, 183, 50;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c95e18;
  --ion-color-warning-tint: #e77a32;

  --ion-color-danger: #f04023;
  --ion-color-danger-rgb: 240, 64, 35;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d3381f;
  --ion-color-danger-tint: #f25339;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
}
