<ion-app>
  <ion-menu side="start" menuId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          PairBnB
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="main">
          <ion-item lines="none" [routerLink]="['/places/tabs/discover']">
            <ion-label>Discover Places</ion-label>
            <ion-icon name="business" slot="start"> </ion-icon>
          </ion-item>

          <ion-item lines="none" [routerLink]="['/bookings']">
            <ion-label>Your Bookings</ion-label>
            <ion-icon name="checkbox-outline" slot="start"> </ion-icon>
          </ion-item>

          <ion-item lines="none" (click)="onLogout()" button>
            <ion-label>Logout</ion-label>
            <ion-icon name="exit" slot="start"> </ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet menu main></ion-router-outlet>
</ion-app>
